---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout title="About">
	<h2>About</h2>
	<CustomTitle />
</MainLayout>
<style>
	h2 {
		color: red;
	}
</style>
