---
import MainLayout from "../layouts/MainLayout.astro";
const header: string = 'Current Time'

---
<MainLayout title='Home page'>
	<h1>{header}</h1>
	<p>Momento actual: {new Date().toLocaleTimeString()}</p>
	<p class='js-localtime'>Hora actual real:</p>
	<footer>
		Año 2023
	</footer>
</MainLayout>
<script>
	const currentTime: string = new Date().toLocaleTimeString();
	const paragraph = document.querySelector('.js-localtime') as HTMLParagraphElement;
	paragraph.innerText = `Hora actual real: ${currentTime}`
</script>
