---

---

<nav>
  <a href="/">Home page</a>
  <a href="about">About page</a>
  <a href="/contact">Contact page</a>
</nav>
<style>
  nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  a {
    display: inline-block;
    margin-left: 20px;
  }

  a:nth-child(1) {
    margin-left: 0;
  }
</style>